# Feature: {{.Feature}}
Module: {{.Module}}
Package: com.app.<TODO>

## Contract: <Name>
Type: input-port
Methods:
- <TODO>

## Contract: <Name>
Type: service
Implements: <TODO>
DependsOn: <TODO>
Methods:
- <TODO>

## Contract: <Name>
Type: rest-adapter
Uses: <TODO>
Endpoints:
- <TODO>
